*{
    margin: 0;
    padding: 0;
}

.cabesalho{
    flex-direction: row;
    width: 100%;
    height: 15vh;
    background-color: #44a1a0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: black solid;
}


.logo{
    align-self: center;
    margin-left: 1%;
    height: 10vh;
    width: 30%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navega{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    height: 12vh;
    width: 40%;
}

.menu{
    flex-direction: row;
    align-self: flex-end;
    align-items: last baseline;

    width: fit-content;
    height: 5vh;
    margin-top: 5%;
    margin-right: 2%;

    text-align: justify;
    color: #ffff;
    font-size: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.menu span{
    margin-left: .5vh;
    margin-left: .5vh;
}

.menu span:hover{
    color: #CCCC;
    cursor: pointer;
}

.icones{
    display: flex;
    flex-direction: row;
    align-self: flex-end;

    margin-right: 4%;
    height: 3vh;
    width: 5vh;
}

.icones img:hover{
    cursor: pointer;
}

.carousel .img{
    display: flex;
    width: 100%;
    height: 10vh;
}

.text{
    display: flex;
    align-self: center;
    align-content: center;

    margin-top: 3%;
    width: 100%;
    height: 15%;

    color: #2C4141;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    font-weight: 400;
}

.text span{
    margin-left: 25%;
    margin-right: 25%;
}

.contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;

    margin-top: 5%;
    width: 100%;
    height: 40vh;
}

.subject{
    display: flex;
    flex-direction: column;
    align-content: center;

    width: 20%;
}

.bola{
    display: flex;
    align-self: center;

    padding: 10%;
    background-color: #2B4141;
    border-radius: 50%;
    object-fit: contain;
    margin-top: 4%;
    box-shadow: 6px 4px 4px 6px #c7c7c7;
}

.bola img{
    width: 8vh;
    object-fit: fill;
}

.texts{
    display: flex;
    flex-direction: column;

    margin-top: 10%;
    align-self: center;
    align-items: center;
    width: fit-content;
}

.texts h1{
    color: #2B4141;
    font-size: xx-large;
    font-weight: 600;
}

.texts h2{
    color: #E4572E;
    font-size: larger;
}